@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
}

.mobile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mobile-header .logo-icon {
    display: flex;
    margin: 2rem 0;
    margin-left: 1.5rem;
    height: 1.8rem;
}

.mobile-header .menu-icon {
    display: flex;
    margin-right: 1.5rem;
    width: 2.5rem;
}

header .mobile-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 1.5rem;
    top: 2rem;
    padding-bottom: 10rem;
    background-color: hsl(36, 100%, 99%);
}

header .mobile-menu img {
    width: 3rem;
    margin-bottom: 4rem;
    margin-left: auto;
}

header .mobile-menu a {
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    color: hsl(240, 100%, 5%);
    padding-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 6rem;
}

.desktop-header {
    display: none;
}

.main-card {
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;
}

.first-card {
    display: flex;
    flex-direction: column;
}

.main-card .first-card .mobile.img {
    width: 100%;
}

.main-card .first-card .desktop-img {
    display: none;
}

.main-card .first-card h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 1rem 0;
}

.main-card .first-card p {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    line-height: 1.6;
}

.main-card .first-card a {
    background-color: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    font-weight: 400;
    font-size: 0.8rem;
    margin-top: 1rem;
    height: 2.5rem;
    width: 10rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.3rem;
}

.main-card .black-pages-card {
    background-color: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    padding: 0 1rem 1rem;
    margin-top: 3rem;
}

.main-card .black-pages-card h2 {
    color: hsl(35, 77%, 62%);
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: -0.3rem;
}

.main-card .black-pages-card h3 {
    font-size: 1rem;
    font-weight: 700;
    color: hsl(36, 100%, 99%);
}

.main-card .black-pages-card p {
    font-size: 0.9rem;
    font-weight: 700;
    color: hsl(236, 13%, 42%);
}

.main-card .black-pages-card .black-card-one {
    border-bottom: 1px solid hsl(236, 13%, 42%);
    padding: 1rem 0;
}

.main-card .black-pages-card .black-card-two {
    border-bottom: 1px solid hsl(236, 13%, 42%);
    padding: 1rem 0;
}



.blog-pages-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4rem 1.5rem 0 1.5rem;
}

.blog-pages-card .individual-page-card {
    display: grid;
    grid-template-areas:
        "img number number"
        "img title title"
        "img text text";
    column-gap: 1rem;
    width: 100%;
    max-width: 222px;
    align-self: center;
    margin-right: 1rem;
}

.blog-pages-card .individual-page-card img {
    grid-area: img;
    grid-row: span 3;
    width: 100%;
    
}

.blog-pages-card .individual-page-card h2 {
    grid-area: number;
    display: inline;
    color: hsl(233, 8%, 79%);
    font-size: 1.8rem;
    margin: 0;
}

.blog-pages-card .individual-page-card h3 {
    grid-area: title;
    display: flex;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0.3rem 0 0;
}

.blog-pages-card .individual-page-card p {
    grid-area: text;
    font-size: 0.9rem;
    margin: 0;
    margin-bottom: 1.6rem;
    line-height: 1.6;
}


footer {
    margin-bottom: 1rem;
}


@media (min-width: 1024px) {
    

    .mobile-header {
        display: none;
    }

    .desktop-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1220px;
        margin: 0 auto;
        padding: 5rem 1.5rem;
    }

    .desktop-header .logo-icon {
        width: 8rem;
    }

    .desktop-header .header-button {
        display: flex;
        flex-direction: row;
        
    }

    .desktop-header .header-button a {
        display: flex;
        color: hsl(233, 8%, 79%);
        font-size: 2rem;
        font-weight: 400;
        text-decoration: none;
        padding-left: 4rem;
    }

    .desktop-header .header-button a:hover {
        color: hsl(5, 85%, 63%);
    }

    .mobile-img {
        display: none;
    }

    .main-card {
        display: flex;
        flex-direction: row;
        max-width: 1220px;
        margin: 0 auto;
        padding: 0 1.5rem;
    }

    .main-card .first-card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        padding-right: 3rem;
        width: 100%;
    }

    .main-card .first-card .desktop-img {
        display: grid;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        width: 100%;
    }

    .main-card .first-card h1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        height: auto;
        font-size: 6rem;
        margin-top: 2.5rem;
    }

    .main-card .first-card p {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        height: 100%;
        font-size: 1.5rem;
        margin-top: 2.5rem;
    }

    .main-card .first-card a {
        height: 5rem;
        width: 20rem;
        margin-top: -6rem;
        grid-column: 2;
        grid-row: 3;
        font-size: 1.5rem;
    }

    .main-card .first-card a:hover {
        background-color: hsl(240, 100%, 5%);
    }

    .main-card .black-pages-card {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 2rem;
    }

    .main-card .black-pages-card h2 {
        font-size: 3.5rem;
        padding-bottom: 2rem;
    }

    .main-card .black-pages-card .black-card h3 {
        font-size: 2.5rem;
    }

    .main-card .black-pages-card .black-card p {
        font-size: 1.5rem;
        line-height: 2;
    }

    .blog-pages-card {
        max-width: 1220px;
        margin: 0 auto;
        padding-top: 6rem;
    }

    .blog-pages-card .individual-page-card {
        flex-basis: 0;
        flex-grow: 1;
        max-width: fit-content;
        max-height: 6rem;
    }

    .blog-pages-card .individual-page-card img {
        width: auto;
        height: 15rem;
        padding-right: 2rem;
    }

    .blog-pages-card .individual-page-card h2 {
        font-size: 4rem;
        align-items: end;
    }

    .blog-pages-card .individual-page-card h3 {
        font-size: 2rem;
    }

    .blog-pages-card .individual-page-card h3:hover {
        color: hsl(5, 85%, 63%);
    }

    .blog-pages-card .individual-page-card p {
        font-size: 1.5rem;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
    }

}

